.app-header {
  background-color: $main-color;
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: top 0.2s linear;
  color: $secondary-font-color;

  &__content {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }

  &__media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &__logo {
    & img {
      width: 155px;
      height: 20px;
    }
  }

  &__categories {
    display: inline-flex;
    & ul {
      display: inline-flex;
      list-style-type: none;
      & li {
        margin: 0 1em;
        & a {
          text-decoration: none;
          color: $secondary-font-color;
          font-weight: bold;
          &:hover {
            color: $secondary-color;
          }
        }
      }
    }
  }

  &__actions {
    display: inline-flex;
    & ul {
      display: inline-flex;
      align-items: center;
      list-style-type: none;
      & li {
        font-weight: bold;
        margin: 0 1em;
        & a {
          text-decoration: none;
          color: $secondary-font-color;
          &:hover {
            color: $secondary-color;
          }
        }
      }
    }
  }

  &__actions__add,
  &__actions__search {
    width: 1.5em;
  }

  &__actions__translate {
    border: 1px solid $secondary-font-color;
    border-radius: 4px;
    padding: 3px;
    color: $secondary-font-color;
    &:hover {
      background-color: $secondary-font-color;
      color: $main-color;
    }
  }
}
